# WHAT IS PYTHON

1.General Purpose Language

2.Can be used a an OBJECT ORIENTED PROGRAMMING LANGUAGE

3.Python allows you to use variables without declaring them !

4.it relies on indentation as a control structure!

5.Python is a cross-platform programming language, meaning, it runs on multiple platforms like Windows, Mac OS X, Linux, Unix and has even been ported to the Java and .NET virtual machines.

6. Last but not the least, it is free and open source

In [122]:
print('Hello World')

Hello World

In [142]:
a=4
b=6
print(a+b)
x=5
y=2
print(x+y)

10
7

In [138]:
3+4

7

In [139]:
2+3

5

In [ ]:
####

In [140]:
a=5

In [107]:
x=5
x

5

# System Characteristics
These commands give the general information about the python langauage

In [143]:
import sys
print(sys.version)

# It prints the system version

3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]

In [144]:
import platform
platform.python_version()

'3.6.5'

# How to make a comment in line:
Press Ctrl+/
or pres #

In [ ]:
# This is a comment 

#i am studying python

a=3
print(a)


# Statement

Instructions that a Python interpreter can execute are called statements.

Multi-line statement:

In Python, end of a statement is marked by a newline character. 

But we can make a statement extend over multiple lines with the line continuation character () or the \.
For example:

In [149]:
# Explicit continuation
var='this is a example of a \
multiline statement'
var

'this is a example of a multiline statement'

In [150]:
a=3
b=434

In [148]:
# This is implicit continuation
(2+3+4
 +5+6+7
 +8+9+10)

54

In [151]:
print(a+b)

437

In [60]:
# We can also use brackets [] and braces for the same
{2+3+4
 +5+6+7
 +8+9+10}

{54}

In [152]:
# even [] work in the same way
[2+3+4
 +5+6+7
 +8+9+10]

[54]

In [ ]:
a=2
b=3
c=34

# Multiline statements
Ordinarily we put only 1 statement in 1 line
But we can use ; to put multiple statements in a line.

In [153]:
a=1;b=4;c=5;

In [154]:
a+b+c

10

#Multiline comments

We used # to make a single line comment
Now we will see how to make a multi line comment

In [157]:
# Try writing a comment over many lines
"""This is a long comment
and it extends
to multiple lines"""

'This is a long comment\nand it extends\nto multiple lines'

In [158]:
print("""This is a long comment 
and it extends
to multiple lines""")

This is a long comment
and it extends
to multiple lines
4

In [69]:
print("""This is an example of a long comment
that goes on
and on
and on """)

This is an example of a long comment
that goes on
and on
and on

# VARIABLE ASSIGNMENT.

Rules for creating variables

1. They cant start with a digit.
2. Shouldnt have blanks in the names ;instead of spaces, use_
3. cant have these symbols inside  ,''',?,/,!,@,#,%,&,*~,-,+
4. shouldnt be keywords like int, str etc.

# PYTHON DATA TYPES -numeric ,string,none and boolean

1. NUMERIC DATA TYPES

Python supports 

1)integers,
2)floating point numbers
3)complex numbers.

They are defined as int, float and complex class in Python.

integers and floating points are separated by the presence or absence of a decimal point.

eg. 5 is an int and 8.676 are floats.

Complex numbers are written in the form, a + bj, where a is the real part and b is the imaginary part.


In order to know the class of a data type, there is the type() function

In [ ]:
● int - integer numbers
● float - real numbers
● str - string, text

In [160]:
# Examples of data types
a=543
b=5.56
c=34+1j
d="Python"
e=True
f=3.676e5
#

In [161]:
print(a,b,c)

543 5.56 (34+1j)

In [105]:
# this is in the scientific notation

f

367600.0

In [164]:
type(e)

bool

In [165]:
print(type(a),type(b),type(c),type(d),type(e),type(f))

<class 'int'> <class 'float'> <class 'complex'> <class 'str'> <class 'bool'> <class 'float'>

In [9]:
# to check the type
isinstance(d,str)

True

# 2. NONE DATATYPE

It is the equivalent of null.

In [170]:
# We need to be careful about the case
abc=None
type(abc)
print(abc)

None

In [169]:
a=

SyntaxError: invalid syntax (<ipython-input-169-2d920c342ece>, line 1)

# ARITHMETIC OPERATORS

+  - / % // **

In [75]:
#addition
2+3

5

In [76]:
# multiply
3*4

12

In [171]:
# division
2/3

0.6666666666666666

In [172]:
# Modulo
15%4

3

In [173]:
# Exponentiation
4**3

64

In [174]:
# Floor division
37//6

6

In [175]:
37%6

1

In [ ]:
# COMPARISON OPERATORS
1) to check for equality ==
2)to check for non equality !=
3) to check for greater than >
<
>=
<=

In [176]:
# The '=' sign is the assignmnet operator, this gives a value to a variable

a=3
a

3

In [177]:
# The '==' sign is the assignment operator, this gives a value to a variable

3==3

True

In [179]:
3!=3

False

# 3. Boolean data type
x=True
y=False

In [181]:
a=True

# 4.Strings data type

1.The strings are sequences of characters
2. They have an indexing notation :
indexing notation uses " [] " notation after string
3.  STRING  P Y T H O N
     INDEX  0 1 2 3 4 5
     
4.  Slicing captures a slice of a string

In [182]:
# Strings
v='Sun'
v

'Sun'

In [183]:
# for assigning a string data type put it in quotes
val1='Hello'
val2="Hello"
val3="""Hello"""

In [184]:
print(val1)
print(val2)
print(val3)

Hello
Hello
Hello

In [191]:
# concatenating strings using the + operator

var="python's"
print(var)

python's

In [193]:
#multiplying strings
x='abc'
x*4

'abcabcabcabc'

In [194]:
### length of a string
len('Python for data analytics')

25

In [196]:
var='Data Science'

In [197]:
len(var)

12

In [200]:
# extracts the nth index in the string use var[n]

var[-1]

'e'

In [26]:
# Get the length of the string
len(var)

12

In [199]:
#  string index out of range is caused when we given an index > length

var[12]

IndexError: string index out of range

In [201]:
a=None
len(a)

TypeError: object of type 'NoneType' has no len()

In [28]:
#it starts from the reverse
var[-1]

'e'

# STRING SLICING
[START:STOP:STEP]

1. start is numerical index for slice start
2.  stop is index you will go up to (but does not include)
3. step is the size of "jump" you take

In [29]:
mystr='Encyclopaedia'
print(mystr)

Encyclopaedia

In [202]:
a='Data Science'
a[2:8]

'ta Sci'

In [31]:
mystr[2:8]

'cyclop'

In [32]:
mystr[1:7:2]

'nyl'

In [33]:
mystr[3:]

'yclopaedia'

In [34]:
mystr[:3]

'Enc'

In [36]:
#use of blank :: - Equivaent to typing the my string only
mystr[::]

'Encyclopaedia'

In [38]:
# reversing a string
mystr[::-1]

'aideapolcycnE'

In [ ]:
# STRING PROPERTIES AND METHODS

1. IT IS IMMUTABLE, I.E. CANNOT BE CHANGED

In [42]:
name="alice"
print(name)

alice

In [43]:
name[0]='b'

TypeError: 'str' object does not support item assignment

Data Type Conversion

In [90]:
int(67.3)

67

In [45]:
amt=687

In [46]:
x='I have won $'+amt

TypeError: must be str, not int

In [48]:
x="I have won $"+ str(amt)

In [97]:
x

'I have won 687'

In [50]:
#dynamic typing the variables changes from one type to another

x=5
x

5

# PRINT FUNCTION
General format is :

print('The values to be printed')

In [51]:
#variable types
#= is the assignment operator
a=4
print("value of a is ",a)

value of a is  4

In [ ]:
#Use of the print function to dynamically assign the variables

print('There is a student called as Ram')
print('The age of Ram is 25')
print('He likes Computers')

In [52]:
name='Ram'
age=25
sub='Computers'

In [ ]:
print('There is a student called as',name)

In [ ]:
# Use of separator

print('There is a student called as ',name,sep=" - ")

In [53]:
# Use of format
print('There is a student called as {} and his age is {}'.format (name,age))

There is a student called as Ram and his age is 25

In [54]:
print('There is a student whose age is {1} and his name is {0}'.format (name,age))

There is a student whose age is 25 and his name is Ram

In [55]:
print("The name of the student is",name," and he is ",age,"years old")

The name of the student is Ram  and he is  25 years old

In [ ]:
# Print in 1 line
print('Data Science')

In [56]:
# print in different lines
print('Data \nScience')

Data
Science

In [57]:
# Use of escape character
print('Data \"Science')

Data "Science

In [58]:

# Changing the case to uppercase, lowercase and propercase

var='Data Science with Python'

In [4]:
# This will give only a copy of the original string
var.lower()

'data science with python'

In [5]:
# We can check the orignal string
var

'Data Science with Python'

In [59]:
# in uppercase
var=var.upper()
var

'DATA SCIENCE WITH PYTHON'

In [60]:
# In propercase
var.title()

'Data Science With Python'

In [61]:
#use of various methods - the split method divides it into individual strings it returns a list

var.split()

['DATA', 'SCIENCE', 'WITH', 'PYTHON']

In [ ]:

# use of index to find the position
print(var.index('A'))
var

In [62]:
# if there is no string by that name, you will get a value error
var.index('z')

ValueError: substring not found

In [ ]:

# In order to replace the characters, use the replace function
var.replace('DATA','ANALYTICS')

In [64]:
n=34
m=43
str(n)+str(m)

'3443'

# NUMERICAL FUNCTIONS

In [ ]:
# gives the abs value

abs(-5)

In [ ]:
pow(5,2)

In [ ]:
print(max(2,3,4))
print(min(2,3,4))
print(round(4.677,0))

In [ ]:
# import fn
from math import *
floor(4.5)

In [ ]:
sin(3)

In [65]:
# To get the user input
name=input('Enter your name')

Enter your namePrateek

In [66]:
name

'Prateek'

In [ ]:
num1=input('Enter a no')

# LISTS

Lists can be thought of the most general version of a sequence in Python. 

unlike strings, they can be changed

In [68]:
friends=['Rahul','Neha','Pooja','Amit']

In [69]:
len(friends)

4

In [ ]:
#We just created a list of chars, but lists can actually hold different object types. For example:

In [70]:
mylist1=[1,2,'abc',3.54,True]

In [ ]:
# Indexing and slicing work just like in strings.

In [72]:
friends[1:4]

['Neha', 'Pooja', 'Amit']

In [73]:
mylist2=[1,2,'abc',3.54,True,('a','b')]

In [74]:
#use to grab an item inside a list

mylist2[5][0]

'a'

In [76]:
mylist1=[1,2,'abc',3.54,True]
my_no=[1,2,3,4,5,6]

In [77]:
# we can add 2 lists 
mylist1+my_no

[1, 2, 'abc', 3.54, True, 1, 2, 3, 4, 5, 6]

In [78]:
# extend -used to extend the previous list by another list
friends.extend(my_no)

In [79]:
friends

['Rahul', 'Neha', 'Pooja', 'Amit', 1, 2, 3, 4, 5, 6]

In [80]:
#Use the append method to permanently add an item to the end of a list:

friends.append(my_no)

In [81]:
friends

['Rahul', 'Neha', 'Pooja', 'Amit', 1, 2, 3, 4, 5, 6, [1, 2, 3, 4, 5, 6]]

In [82]:
a=[1,2,3]
b=[4,5,6]

In [83]:
a.extend(b)

In [84]:
a

[1, 2, 3, 4, 5, 6]

In [85]:
a.append([7,8])

In [86]:
a

[1, 2, 3, 4, 5, 6, [7, 8]]

In [87]:
# Use the insert method

a.insert(2,10)

In [88]:
a

[1, 2, 10, 3, 4, 5, 6, [7, 8]]

In [89]:
#2 ways to remove the removed the element by passing the value in []
a.remove([7,8])

In [90]:
a

[1, 2, 10, 3, 4, 5, 6]

In [91]:
# remove by passing the index, it returns the vaue deleted
a.pop(-1)

6

In [ ]:
a

In [92]:
#to remove all, use the clear fn.
a.clear()

In [93]:
a

[]

In [94]:
# To check if a value is there in a list
friends.index('Neha')

1

In [95]:
friends.count('Neha')

1

In [97]:
new=[1,54,23,13]

In [96]:
#sort will overwrite the orignal
new.sort()

NameError: name 'new' is not defined

In [ ]:
new

In [99]:
new.sort(reverse=True)

In [100]:
new

[54, 23, 13, 1]

In [ ]:
#sorted will not overwrite the orignal
sorted(new,reverse=False)

In [ ]:
new

In [101]:
a=new.copy()

In [ ]:
a is new

In [ ]:
a

In [ ]:
new

In [ ]:
a,b=3,3

In [ ]:
a is b

In [ ]:
a==b

# TUPLES
In Python tuples are very similar to lists, 

however, unlike lists they are immutable meaning they can not be changed. 

use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In [103]:
# tuples inside ()
t=(1,3)

In [104]:
t[1]

3

In [ ]:
# tuple is immutable
t[0]=32

In [ ]:
# Tuples used for data which doesnt change
# tuple in a list can be changed
t1=[(1,2),(45,'fj')]

In [ ]:
t1

In [ ]:
t1[1]

In [ ]:
t1[1]=(2,3)

In [ ]:
t1

In [ ]:
# If you put a list inside a tuple, it wont change
t2=([1,'d'],[3,4])

In [ ]:
t2[1]=[6,4]

# Functions
Bunch of code to perform a specific task

In [50]:
def hello ():
    print("Welcome to Python!")
hello()

Welcome to Python!

In [51]:
def hello (n):
    print("Welcome to Python!",n)
hello('Sunny')

Welcome to Python! Sunny

In [ ]:
def square (n):
    x=n*n
    return x
square(5)

In [ ]:
# If statements
salary=7
if salary <5:
    print ("Salary is less than 5k")
elif salary>=5 and salary<10:
    print("Salary b/w 5k and `10k")
else:
    print("Salary >10k")

# DICTIONARIES
To understand dictionaries, we will understand what are mappings?

Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.
A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

In [49]:
# Dictionary key value pair
week={"Sun":1,"Mon":2,"Tue":3,"Wed":4,"Thu":5}
week

{'Sun': 1, 'Mon': 2, 'Tue': 3, 'Wed': 4, 'Thu': 5}

In [ ]:
# they need to be unique
week1={"Sun":1,"Mon":2,"Tue":3,"Wed":4,"Thu":5}
week1

In [ ]:
# Access using []
week["Mon"]

In [ ]:
# access using get
week.get("Wed")

In [ ]:
week.get("Na","Not a valid key")

In [40]:
# to get all the keys
week.keys()

dict_keys(['Sun', 'Mon', 'Tue', 'Wed', 'Thu'])

In [41]:
# to get all the values
week.values()

dict_values([1, 2, 3, 4, 5])

In [42]:
# we can update the dictionary
week.update({'Sun':0})
week

{'Sun': 0, 'Mon': 2, 'Tue': 3, 'Wed': 4, 'Thu': 5}

In [48]:
# delete the words
del week['Sun']

KeyError: 'Sun'

In [14]:
# Loops in python -while loop
i=1
while i<10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [13]:
# for loops
alist=[1,2,3,4,5]
for n in alist:
    print(n)

1
2
3
4
5

In [ ]:
for n in alist:
    if n%2==0:
        print(n)

In [ ]:
for i in range(0,9):
    print(i)

In [ ]:
len(alist)
for i in range(len(alist)):
    print(alist[i])

In [22]:
# 2d list
grid = [
[1,2,6],
[3,4,7],
[5,6,9],
[10]
]

In [23]:
print(grid)

[[1, 2, 6], [3, 4, 7], [5, 6, 9], [10]]

In [24]:
# access the 2d list
grid[1][2]

7

In [27]:
for row in grid:
    print(row)

[1, 2, 6]
[3, 4, 7]
[5, 6, 9]
[10]

In [28]:
for row in grid:
    for col in row:
        print(col)

1
2
6
3
4
7
5
6
9
10

In [31]:
try:
    no=int(input("Enter a no"))
    print(no)
except :
    print("you entered an invalid no")

Enter a noTry
you entered an invalid no

In [ ]:
try:
    no=int(input("Enter a no"))
    print(no)
except :
    print("you entered an invalid no")